<%- include('../components/header'); -%>

<div class="member-info content">
  <h2 class="text-center">About <%- member.name -%></h2>
  <p class="text-center">
    <%- member.about -%>
  </p>
</div>

<%- include('../components/footer'); -%>